@import "../../index.scss";

.Input {
  display: flex;
  flex-direction: column;
  min-width: 350px;
  &__label {
    @include bold-12;
    color: $tertery;
    margin-left: 0.2rem;
    margin-bottom: 0.25rem;
  }
  &__input {
    outline: none;
    border: 1px solid #0000001f;
    border-radius: 0.5rem;
    height: 2.5rem;
    padding: 0.5rem;
    @include bold-13;
    color: #222;
    &::placeholder {
      @include bold-13;
    }
  }
}
