@font-face {
  font-family: "AvenirDemi";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf");
  line-height: 1.25rem;
}

@font-face {
  font-family: "AvenirRegular";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf");
  line-height: 1.25rem;
}
